
#my-image {
  width: 100% !important;
  border: 1px solid black  !important;
  height: 400px !important;
}

#my-images {
    width: 75% !important;
    height: 400px !important;
  }
  h3{
    color: aliceblue;
  }

  p{
    color: rgb(223, 199, 199);
  }

body {background-color: rgb(10, 44, 10);}